   table,
   th,
   td {
       border: 1px solid black;
       border-collapse: collapse;
       color: teal;
       font-size: 40px;
       padding: 20px 10pc 30px 10px;
       margin: 40px;
   }

   h1 {
       color: blue;
       font-size: 10px;
   }

   h2 {
       color: teal;
       font-size: 30px;
   }

   .para{
        color: pink;
   }

   .myPara{
    font-size: 40px;
   }

   #heading{
    color: pink;
    font-size: 48px;
   }